{% extends 'skosapp/header.html' %}

{% block content %}

    <div style="padding:40px;border:1px solid #ccc">
        <div class="row">
            <div class="col-md-10">
                <h4>Developer</h4>
                <p>Reid Yoder</p>
                <p>rjy15@txstate.edu</p>
                <br></br>
                <h4>Project Supervisor</h4>
                <p>Farhad Ameri</p>
                <p>ameri@txstate.edu</p>
                <p></p>
            </div>
        </div>
    </div>

{% endblock %}